################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lesson 4 - Authentication and Authorization/WebApplicationAuthDemo/.vs
