################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lesson 4 - Authentication and Authorization/WebApplicationAuthDemo/.vs
/Lesson 4 - Authentication and Authorization/WebApplicationAuthDemo/WebApplicationAuthDemo/bin/Debug/netcoreapp2.0
/Lesson 4 - Authentication and Authorization/WebApplication27/.vs/WebApplication27/v15
/Lesson 4 - Authentication and Authorization/WebApplication27/.vs/config
/Lesson 4 - Authentication and Authorization/WebApplication27/WebApplication27/bin/Debug/netcoreapp2.0
/Lesson 4 - Authentication and Authorization/WebApplication1/.vs
